<template>
    <div>
        <div class="amazing-container tables">
            <div class="row">
                <b-button v-on:click="addBooks()" class="addbook">
                    <img :src="require(`@/assets/img/add-book.png`)"/>&nbsp;ADD BOOKS
                </b-button>
                <div class="col-sm-5">
                    <div class="input-group mb-3 search">
                        <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-append">
                        <b-button class="searchs">Search</b-button>
                    </div>
                    </div>
                </div>
            </div>

        <div class="table-responsive">
            <table class="content-table">
                <thead>
                <tr>
                    <th>ACTION</th>
                    <th>NAME</th>
                    <th>AUTHOR</th>
                    <th>COPIES AVAILABLE</th>
                    <th>CATEGORY</th>
                </tr>
                </thead>
                <tbody>
                    <tr v-for="book in books" :key="book.id">
                        <td class="buttons">
                            <b-button v-on:click="deleteBooks(index)" class="delete">
                                <img :src="require(`@/assets/img/delete.png`)"/>DELETE
                            </b-button>
                                &nbsp;&nbsp;
                            <button type="button" v-on:click="editBook(index)" class="btn edit"><img :src="require(`@/assets/img/edit.png`)"/> EDIT</button>
                            <br>
                            <button type="submit" class="btn return"><img :src="require(`@/assets/img/back.png`)"/> RETURN</button>&nbsp;&nbsp;
                            <button type="submit" class="btn borrow"><img :src="require(`@/assets/img/lend.png`)"/> BORROW</button>
                        </td>
                        <td>
                        <p class="text-center">{{ book.name }}</p>
                        </td>
                        <td>
                        <p class="text-center">{{ book.author }}</p>
                        </td>
                        <td>
                        <p class="text-center">{{ book.copies }}</p>
                        </td>
                        <td>
                        <p class="text-center">{{ returnCategoryName(book.category_id) }}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <b-modal id="addBook" class="modal-title" title="Add Book" hide-footer no-close-on-esc no-close-on-backdrop hide-header-close>
            <div class="modal-body">
                <div class="row">
                    <p>Name</p>
                    <div class="col name">
                        <input type="text" v-model="book.name">
                    </div>
                </div>
                <div class="row">
                    <p>Author</p>
                    <div class="col author">
                        <input type="text" v-model="book.author">
                    </div>
                </div>
                <div class="row">
                    <p>Copies</p> 
                    <div class="col copies">
                        <input type="number" v-model="book.copies">
                    </div>
                </div>
                <div class="row">
                    <p>Category</p> 
                    <div class="col eadd">
                        <div class="btn-group">
                            <select v-model="book.category_id" variant="outline-dark" class="c_dropdown" placeholder="Date of Event">
                                <option v-for="category in categories" :key="category.id" :value="category.id">
                                    {{ category.category }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn edits" v-on:click="createBooks()"><img :src="require(`@/assets/img/add-book.png`)"/> ADD BOOK</button>
                <button type="button" class="btn cancel" block v-on:click="$bvModal.hide('addBook')">CLOSE</button>
            </div>
        </b-modal>

        <b-modal id="editBook" class="modal-title" title="Edit Book" hide-footer no-close-on-esc no-close-on-backdrop hide-header-close>
            <div class="modal-body">
                <div class="row">
                    <p>Name</p>
                    <div class="col name">
                            <input type="text" v-model="book.name">
                    </div>
                </div>
                <div class="row">
                    <p>Author</p>
                    <div class="col author">
                        <input type="text" v-model="book.author">
                    </div>
                </div>
                <div class="row">
                    <p>Copies</p> 
                    <div class="col copies">
                        <input type="number" v-model="book.copies">
                    </div>
                </div>
                <div class="row">
                    <p>Category</p> 
                    <div class="col eadd">
                        <div class="btn-group">
                            <select v-model="book.category" variant="outline-dark" class="c_dropdown" placeholder="Date of Event">
                                <option v-for="category in categories" :key="category.id" :value="category.id">
                                    {{ category.category }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn edits" v-on:click="updateBooks(updateIndex)"><img :src="require(`@/assets/img/add-user.png`)"/> EDIT BOOK</button>
                <button type="button" class="btn cancel" v-on:click="close()">CLOSE</button>
            </div>
        </b-modal>

        <b-modal id="deletesBook" class="modal-title" title="Delete this Row?" hide-footer no-close-on-esc hide-header-close no-close-on-backdrop>
            <div class="modal-body">
                <div class="row">
                    <p>Do you want to delete this row?</p>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn edits" block v-on:click="confirmDelete()">CONFIRM</button>
                <button type="button" class="btn cancel" v-on:click="close()">CANCEL</button>
            </div>
            </div>
        </b-modal>
        </div>
    </div>
</template>

<script>
export default {
  data() {
    return {
        book: {
                id: 0,
                name:"",
                author:"",
                copies:0,
                category_id:"",
            }
        }
  },

  computed:{
      books(){
      return this.$store.state.books;
      },
      categories(){
      return this.$store.state.categories;
      }
    },

  methods:{
         createBooks() {
            this.$store.dispatch('createBooks', {
                    name: this.book.name,
                    author: this.book.author,
                    copies: this.book.copies,
                    category_id: this.book.category_id,
            })
            this.$toastr.defaultStyle = { "background-color": "green" }; 
            this.$toastr.s("Patron Added", "Registration Successful");
            this.close();
        },
        returnCategoryName(id) {
            var item = this.categories.find(category => category.id === id).category;
            return item;
    },

        clear(){
            this.book.name = "",
            this.book.author = "",
            this.book.copies = "",
            this.book.category_id = ""
       },
        close(){
            this.$bvModal.hide('addBook');
            this.$bvModal.hide('editBook');
            this.$bvModal.hide('deletesBook');
        },
        addBooks(){
            this.clear();
            this.$bvModal.show("addBook");
        },
  },

  mounted() {
    document.title = "Stacks Library | Book Management"
    this.$store.dispatch('fetchCategories');
    this.$store.dispatch('fetchBooks');
  }
};
</script>