<template>
    <div>
        <div class="amazing-container charts">
            <h1 class="title">C H A R T S</h1>
            <div class="row">
                <div class="col-1 charts2">
                    <div class="bars mr-auto">
                        <div class="card">
                            <div class="card-body">
                                <canvas id="myChartBar" width="300" height="200">
                                </canvas>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-1 charts2">
                    <div class="pies ml-auto">
                        <div class="card">
                            <div class="card-body">
                                <canvas id="myChartPie" width="300" height="200">
								</canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Chart from 'chart.js';
export default{
    mounted:function(){
        document.title = "Stacks Library | Dashboard"

        var ctx = document.getElementById('myChartBar').getContext('2d');
        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['March', 'April', 'May', 'June', 'July'],
                datasets: [{
                    label: 'Number of books',
                    backgroundColor: 'rgb(18, 35, 46)',
                    borderColor: 'rgb(18, 35, 46)',
                    data: [280, 500, 600, 350, 180]
                }]
            },

            options: {
                title:{
                    display: true,
                    position: "top",
                    text: "B O R R O W E D   A N D   R E T U R N E D   B O O K S",
                    fontSize: 18,
                    fontColor: "#12232E"
                },
                legend:{
                    display: false
                },
                scales:{
                    xAxes:[{
                        gridLines:{
                            display:false,
                            stacked: true
                        }
                    }],
                    yAxes:[{
                        ticks:{
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        var ctxs = document.getElementById('myChartPie').getContext('2d');
        new Chart(ctxs, {
            type: 'doughnut',

            data: {
                labels: ['Computer Science', 'Programming', 'History', 'Math'],
                datasets: [{
                    label: 'Number of books',
                    backgroundColor: ["#1D7DC3","#2DF489", "#F46D00"],
                    borderColor: "#fffff",
                    data: [100, 50, 80, 90],
                }]
            },

            options: {
                title:{
                    display: true,
                    position: "top",
                    text: "P O P U L A R   B O O K   G E N R E",
                    fontSize: 18,
                    fontColor: "#12232E"
                },

                legend:{
                    position: 'bottom',

                    labels:{
                        fontFamily: 'Nunito',
                        fontStyle: 'bold'
                    }
                }
            }
        });
    }
}
</script>

<style>
@import '/assets/css/style.css';
</style>