<template>
    <div>

        <div class="amazing-container tables">
            <div class="row">
                <b-button v-on:click = "addPatron" class="adduser">
                    <img :src="require(`@/assets/img/add-user.png`)"/>&nbsp;ADD PATRONS
                </b-button>
                <div class="col-sm-5">
                    <div class="input-group mb-3 search">
                        <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-append">
                        <b-button class="searchs">Search</b-button>
                    </div>
                    </div>
                </div>
            </div>

            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <div class="table-responsive">
                    <table class="content-table">
                        <thead>
                        <tr>
                            <th>ACTION</th>
                            <th>NAME</th>
                            <th>EMAIL</th>
                            <th>DATE REGISTERED</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr v-for="patron in patrons" :key="patron.id" :patron="patron">
                                <td class="buttons">
                                    <b-button v-on:click="deletePatron(id)" class="delete">
                                        <img :src="require(`@/assets/img/delete.png`)"/>DELETE
                                    </b-button>
                                    &nbsp;&nbsp;
                                    <button type="button" v-on:click="editPatron(index)" class="btn edit">
                                        <img :src="require(`@/assets/img/edit.png`)"/> EDIT
                                    </button>
                                </td>
                                <td>
                                <p class="text-center">
                                    {{ patron.first_name }}  {{ patron.middle_name }} {{ patron.last_name }}
                                </p>
                                </td>
                                <td>
                                <p class="text-center">
                                    {{ patron.email }}
                                </p>
                                </td>
                                <td>
                                <p class="text-center">
                                    {{ patron.created_at | moment }}
                                </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <b-modal id="add-user" class="modal-header" title="Add Patron" hide-footer no-close-on-esc no-close-on-backdrop hide-header-close>
                
                <div class="modal-body">
                    <div class="row">
                        <p>First Name</p>
                        <div class="col fname">
                            <input type="text" v-model="patron.first_name">
                        </div>
                    </div>
                    <div class="row">
                        <p>Middle Name</p>
                        <div class="col mname">
                            <input type="text" v-model="patron.middle_name">
                        </div>
                    </div>
                    <div class="row">
                        <p>Last Name</p> 
                        <div class="col lname">
                            <input type="text" v-model="patron.last_name">
                        </div>
                    </div>
                    <div class="row">
                        <p>Email Address</p> 
                        <div class="col eadd">
                            <input type="email" v-model="patron.email">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn edits" @click.prevent="createPatron"><img :src="require(`@/assets/img/add-user.png`)"/> ADD PATRON</button>
                    <button type="button" class="btn cancel" block @click="close">CLOSE</button>
                </div>
            </b-modal>

            <b-modal id="edit-user" class="modal-header" title="Edit Patron" hide-footer no-close-on-esc no-close-on-backdrop hide-header-close>
                <div class="modal-body">
                    <div class="row">
                        <p>First Name</p>
                        <div class="col fname">
                            <input type="text" v-model="patron.first_name">
                        </div>
                    </div>
                    <div class="row">
                        <p>Middle Name</p>
                        <div class="col mname">
                            <input type="text" v-model="patron.middle_name">
                        </div>
                    </div>
                    <div class="row">
                        <p>Last Name</p> 
                        <div class="col lname">
                            <input type="text" v-model="patron.last_name">
                        </div>
                    </div>
                    <div class="row">
                        <p>Email Address</p> 
                        <div class="col eadd">
                            <input type="email" v-model="patron.email">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn edits" v-on:click="updatePatron(updateIndex)"><img :src="require(`@/assets/img/add-user.png`)"/> UPDATE</button>
                    <button type="button" class="btn cancel" block @click="close">CLOSE</button>
                </div>
            </b-modal>

            <b-modal id="deletes" class="modal-title" title="Delete this Row?" hide-footer no-close-on-esc hide-header-close no-close-on-backdrop>
                <div class="modal-body">
                    <div class="row">
                        <p>Do you want to delete this row?</p>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn edits" block v-on:click="deletePatrons()">CONFIRM</button>
                    <button type="button" class="btn cancel" block @click="$bvModal.hide('deletes')">CANCEL</button>
                </div>
                </div>
            </b-modal> 
        </div>
    </div>
</template>

<script>
import moment from 'moment'
export default {

    data(){
        return{
            patron: {
                id: 0,
                first_name:"",
                middle_name:"",
                last_name:"",
                email: "",
                created_at: ""
            },
        }
    },

  computed:{
      patrons(){
      return this.$store.state.patrons;
      }
    },
 
  methods:{
        createPatron() {
            this.$store.dispatch('createPatrons', {
                    first_name: this.patron.first_name,
                    middle_name: this.patron.middle_name,
                    last_name: this.patron.last_name,
                    email: this.patron.email,
            })
            this.$toastr.defaultStyle = { "background-color": "green" }; 
            this.$toastr.s("Patron Added", "Registration Successful");
            this.close();
        },

        clear(){
            this.patron.first_name = "",
            this.patron.middle_name = "",
            this.patron.last_name = "",
            this.patron.email = ""
        },
        close(){
            this.$bvModal.hide('add-user'),
            this.$bvModal.hide('edit-user'),
            this.$bvModal.hide('deletes')
        },
        
        addPatron(){
            this.clear();
            this.$bvModal.show("add-user");
        },
  },

    filters: {
        moment: function (created_at) {
            return moment(created_at).format('LL');
        }
    },

  mounted() {
    document.title = "Stacks Library | Patron Management"
    this.$store.dispatch('fetchPatrons');
  }
};
</script>