

::-webkit-scrollbar{
	display: none;
}

html {
  scroll-behavior: smooth;
}

nav{
	height: 60px;
	background-image: linear-gradient(40deg, #EB3349, #F45C43);
}

.navbar-dark .nav-item .nav-link,
.navbar-dark .nav-item:hover .nav-link{
    color: #ffff;
}
#bars{
	padding-left: 25px;
	color: #ffff;
	font-size: 25pt;
}

.nav-item, .nav-link{
	padding-left: 25px;
	padding-top: 5px;
	font-family: 'Arial';
	font-size: 16pt;
}

.navbar-brand img{
	width: 60%;
}

#home{
	background-image: url(file:///C:/Users/hlimp/Documents/limpiadoharolddave-activities-ai31/FE2/assets/img/Group%201.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 105vh;
	width: 100%;
}

#p1{
	padding-top: 195px;
	color: #ffff;
}
#p2{
	font-style: oblique;
	color: #ffff;
}




#owners{
	width: 100%;
	margin: 0 auto;
	padding: 5px;
	height: 105vh;
	background-color: #ffff;
	padding-top: 80px;
}

#owner{
	font-family: 'Verdana';
	font-size: 30pt;
	padding-top: 40px;
	padding-left: 40px;
	font-style: italic;
}

#owner img{
	background: center no-repeat;
	width: 100%;
	height: 100vh;
}


.carousel-indicators .active{
    background-color: #EB3349;
}


.carousel-indicators li{
	width: 60px;
  	height: 10px;
  	border-radius: 25px;
  	border: 2px solid #EB3349;
}

#adoptions{
	font-family: 'Verdana';
	font-size: 30pt;
	padding-top: 40px;
	padding-left: 40px;
	padding-right: 60px;
	font-style: italic;
	color: #ffff;
	height: 700px;
}
#adoptions h1{
	font-family: 'Verdana';
	font-size: 30pt;
	padding-top: 40px;
	padding-left: 40px;
	font-style: italic;
	color: #ffff;
}
#adoptions h2{
	font-family: 'Verdana';
	font-size: 24pt;
	padding-top: 40px;
	padding-left: 40px;
	text-align: center;
	color: #ffff;
}

.for_slick_slider{
	padding-top: 10px;
	max-width: 100%;
}

.for_slick_slider .items{
	width: 350px;
	height: 250px;
	margin: 25px; 
}

.for_slick_slider .items img{
	width: 100%;
	height: 40vh;
}


#adoptions{
	background-image: linear-gradient(40deg, #EB3349, #F45C43);
}


#abouts{
	font-family: 'Verdana';
	font-size: 30pt;
	padding-right: 60px;
	padding-top: 60px;
	font-style: italic;
}

#abouts img{
	width: 80%;
	height: 70vh;
}

#abouts p{
	font-size: 20pt;
	margin-top: 50px;
}

#signin{
	background-image: url(file:///C:/Users/hlimp/Documents/limpiadoharolddave-activities-ai31/FE2/assets/img/Group%202.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	width: 100%;
}

.slogan{
	font-style: oblique;
	color: #ffff;
	padding-top: 50px;
}

form{
	margin-left: 25px;
	border: 5px solid #EB3349;
	width: 487px;
	height: 360px;
	border-radius: 80px;
	color: #ffff;
	font-size: 18pt;
}

#user{
	padding-left: 25px;
	padding-top: 50px;
}

#pass{
	padding-left: 25px;
}

form input{
	background: transparent;
  	border: none;
  	border-bottom: 2px solid #ffff;
  	width: 400px;
  	color: #ffff;
}

#forgot{
	color: #ffff;
	text-decoration: underline;
	margin-left: 260px;
}

#signins, #register{
	margin-left: 45px;
	width: 167px;
	height: 42px;
	border-radius: 10px;
	border: 3px solid #ffff;
	color: #ffff;
}

footer{
	color: #ffff;
	bottom: 0px;
	background-image: linear-gradient(40deg, #EB3349, #F45C43);
}

.left-box{
	padding-top: 25px;
}
footer img{
	width: 40px;
	height: 40px;
	margin-left: 20px;
}

.right-box{
	padding-top: 25px;
}

.contacts{
	font-family: 'Arial';
	padding-left: 25px;
}

