
:root{
	font-size: 16px;
	--bg-primary: #12232E;
	--bg-secondary: #203647;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #12232E;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #203647;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul{
	list-style-type: none;
}



/*NAVBAR*/
.navbar{
	background-color: #12232E !important;
	height: 80px;
	width: 100%;
}

.logout{
	width: 131px;
	height: 48px;
	left: 1199px;
	right: 36px;
	top: 15px;
	bottom: 634px;

	font-family: 'Nunito';
	font-style: italic;
	font-weight: bold;
	font-size: 15pt;
	color: #ffff;


	background: #456E88;
	border-radius: 10px;

	-webkit-transition-duration: 0.3;
	transition-duration: 0.3;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;

}

.logout:hover{
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/*******************************************************************************/
/*SIDEBAR*/
.wrapper{
	position: fixed;
	width: 345px;
	height: 100%;

	background-color: #12232E !important;
}

.wrapper .sidebar img{
	width: 36px;
	height: 33px;
	left: 28px;
	top: 112.36px;
}
.nav-link{
	display: block;
	align-items: center;
	height: 5rem;
	color: #ffff;
	text-decoration: none;
	cursor: pointer;

}
.link-text{
	margin-left: 1rem;
	font-size: 20px;
	color: #ffff; 
	font-family: 'Roboto';
}

.wrapper .sidebar ul li a{
	color: #ffff;
	padding-top: 25px;
	padding-left: 25px;
	font-family: 'Roboto';
	text-align: left;
}

.wrapper .sidebar li:hover{
	background-color: #203647;
}
a.router-link-active{
	background-color: #203647;
}

/*********************************************************************************************/
/*CONTAINER*/
.my-custom-scrollbar {
	position: relative;
	height: 500px;
	overflow: auto;
}
.table-wrapper-scroll-y {
	display: block;
}

.tables{
	margin-left: 25rem;
	margin-right: 2rem;
}
.tables .adduser{
	margin-top: 2rem;
	width: 186px;
	height: 53px;
	margin-left: 1rem;
	border-radius: 10px;
	cursor: pointer;

	color: #ffff;
	background: #12232E;
	font-family: 'Nunito';
	font-style: italic;

	-webkit-transition-duration: 0.2;
	transition-duration: 0.2;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;
}
.tables .adduser img{
	width: 22px;
	height: 24.1px;
}

.adduser:hover{
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
#addusers{
	width: 542px;
	height: 289px;

}
.modal-content{
	color: #12232E;
	font-family: 'Nunito';
	font-style: italic;
}

.modal-body input{
	width: 270px;
	height: 32px;
	font-size: 13px;
	padding-left: .5rem;
	font-family: 'Nunito';
	border: 1px solid #12232E;
	box-sizing: border-box;
}

.modal-body .category{
	width: 270px;
	height: 22px;
	border: 1px solid #12232E;
	box-sizing: border-box;
	font-size: 13px;
	cursor: pointer;
}

.modal-body .c_dropdown{
	width: 270px;
	height: 33px;
    margin-left: -3px;
    font-size: 13px;
    color: #12232E;
    border-bottom: 1px solid #12232E;
}


.modal-body .row{
	padding-left: 50px;
}

.modal-body .fname{
	padding-left: 39px;
}
.modal-body .mname{
	padding-left: 19px;
}
.modal-body .lname{
	padding-left: 39px;
}

.modal-body .name{
	padding-left: 39px;
}
.modal-body .author{
	padding-left: 30px;
}
.modal-body .copies{
	padding-left: 31px;
}

.modal-footer button{
	border-radius: 10px;
	color: #ffff;
	cursor: pointer;


	font-family: 'Nunito';
	font-style: italic;
	font-size: 12px;
}
.modal-footer .edits{
	background: #12232E;
	width: 130px;
	height: 35px;
}

.modal-footer .cancel{
	background: #456E88;
	width: 100px;
	height: 35px;
}

.modal-footer .edits:hover{
	background-color: #018B2A;
	color: #ffff;
}

.modal-footer .cancel:hover{
	background-color: #FF1439;
	color: #ffff
}

.modal-footer img{
	width: 11.71px;
	height: 13.18px;
}



.tables .search{
	margin-top: 2.5rem;
	margin-left: 22rem;
	height: 38px;
}
.tables .search input{
	color: #12232E;
	border: 3px solid #12232E;
	box-sizing: border-box;
	font-size: 15px;
	font-style: italic;
	font-family: 'Nunito';
}
.tables .search .searchs{
	background: #12232E;
	color: #ffff;
	font-size: 15px;
	font-style: italic;
	font-family: 'Nunito';
}

.tables .search .searchs:hover{
	background: #203647;
}

/***************************************************************************/

/*PATRON AND BOOK TABLE*/
.tables .content-table{
	border-collapse: collapse;
	width: 922px;
}
.content-table thead tr,
.content-table thead th{
	background-color: #12232E;
	color: #ffff;
	font-family: 'Nunito';
	font-style: italic;
	padding-left: 20px;
	text-align: center;
}

.content-table th,
.content-table td{
	padding: 21px 24px;
	padding-left: 10px;
	padding-top: -20px;
	font-family: 'Nunito';
	font-style: italic;
}

.content-table tbody tr{
	border-bottom: 1px solid rgba(18, 35, 46, 0.8); 
}

.content-table .buttons{
	text-align: center;
}

.content-table button{
	border: none;
	width: 75px;
	height: 27px;;
	border-radius: 6px;
	color: #ffff;
	cursor: pointer;


	font-family: 'Nunito';
	font-style: italic;
	font-size: 9px;
}

.content-table .buttons .delete{
	background: #FF1439;
}

.content-table .buttons .edit{
	background: #00AB33;
}

.content-table .buttons .delete:hover{
	background-color: #DA0E2D;
	color: #ffff;
}

.content-table .buttons .edit:hover{
	background-color: #018B2A;
	color: #ffff;
}

.content-table .buttons img{
	width: 15px;
	height: 15px;
	margin-left: -10px;
	margin-top: -4px;
}

.content-table tbody td{
	text-align: center;
	font-size: 13px;
}

.tables .addbook{
	margin-left: 1rem;
	margin-top: 2rem;
	width: 186px;
	height: 53px;
	border-radius: 10px;
	cursor: pointer;

	color: #ffff;
	background: #12232E;
	font-family: 'Nunito';
	font-style: italic;

	-webkit-transition-duration: 0.2;
	transition-duration: 0.2;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;
}
.tables .addbook img{
	width: 22px;
	height: 24.1px;
}

.addbook:hover{
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.tables .return, .tables .borrow{
	margin-top: 5px;
}

.content-table .return{
	background: #AF764C;;
}

.content-table .borrow{
	background: #456E88;
}

.content-table .return:hover{
	background-color: #9B6843;
	color: #ffff;
}

.content-table .borrow:hover{
	background-color: #3C6077;
	color: #ffff;
}

/*******************************************************************************/

/*CHARTS*/

.charts{
	margin-right: 2rem;
}
.title{
	margin-top: 1.5rem;
	text-align: center;
	margin-left: 25rem;
	font-size: 3rem;
	font-weight: bold;
}

.charts2{
	height: 18rem;
}

.charts .card{
	border-color: #12232E;
	border-width: 1px;
}

.charts .bars{
	width: 400px;
	height: 100px;
	margin-top: 2rem;
}

.charts .pies{
	width: 400px;
	height: 100px;
	margin-top: 2rem;
}

.charts #myChartPie{
	width: 204px;
	height: 186px;
}

.charts .viewBar, .viewPie{
	width: 131px;
	height: 48px;
	border-radius: 10px;
	cursor: pointer;

	color: #ffff;
	background: #12232E;
	font-family: 'Nunito';
	font-style: italic;

	-webkit-transition-duration: 0.2;
	transition-duration: 0.2;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;
}
.charts2{
	margin-left: 25rem;
}

.charts .viewBar{
	margin-top: 0.8rem;
	margin-left: 8.5rem;
}

.charts .viewPie{
	margin-top: 0.8rem;
	margin-left: 8.5rem;
}


@media only all and (max-width: 768px) {
	.wrapper{
	position: absolute;
	width: 5rem;
	height: 100%;
	background: var(--bg-primary);
	transition: width 200ms ease;
	}


	.sidebar{
		list-style: none;
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.nav-link{
		display: flex;
		align-items: center;
		height: 5rem;
		color: #ffff;
		text-decoration: none;
	}

	.link-text{
		display: none;
		margin-left: 1rem;
	}

	.wrapper:hover{
		width: 345px;
	}

	.wrapper:hover .link-text{
		display: block;
		color: #ffff; 
		font-family: 'Roboto';
	}

	.tables{
		margin-left: 8rem;
	}

	.tables .search{
		margin-left: 2rem;
	}

	.tables .content-table{
		border-collapse: collapse;
	}
	.charts{
		margin-left: -18rem;
	}

}
